################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/IdentityServer/bin/Debug/netcoreapp1.1/IdentityServer.deps.json
